:root {
    --lato-font: 'Lato', sans-serif;
    --roboto-font: 'Roboto', sans-serif;
    --grad-color-1: #2A4032;
    --grad-color-2: #3A5E46;
    --circles-color: #1B2D22;
    --yellow-color: #FDDE67;
    --black-color: #181818;
    --footer-color: #3B5F47;
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 360px;
    margin: auto;
}

#grad1 {
    height: 640px;
    background-image: linear-gradient(to right, var(--grad-color-1), var(--grad-color-2));
}